<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
    <select id="selectcomments" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COMMENT A, USER B
        WHERE A.SOURCE_UNIQUE_SEQ = #{COORDINATION_ID} 
        AND B.UID=A.UID
        ORDER BY DATE;
    </select>
    <select id="selectcommentwithoutuser" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COMMENT
        WHERE SOURCE_UNIQUE_SEQ = #{UID}
    </select>
    <select id="countcomments" 
        parameterType="Map" resultType="Map">
        SELECT COUNT(*) AS COUNT
        FROM COMMENT
        WHERE SOURCE_UNIQUE_SEQ = #{COORDINATION_ID};
    </select>
    <insert id="insertcomment" 
        parameterType="Map">
        INSERT INTO COMMENT
        (COMMENT_UID,UID,DATE,SOURCE_UNIQUE_SEQ,CONTENT)
        VALUES
        (#{COMMENT_UID},#{UID},SYSDATE(),#{SOURCE_UNIQUE_SEQ},#{CONTENT})
        ;
    </insert>
    <insert id="insertcommentUSERUID" 
        parameterType="Map">
        INSERT INTO COMMENT
        (COMMENT_UID,UID,DATE,SOURCE_UNIQUE_SEQ,CONTENT)
        VALUES
        (#{COMMENT_UID},#{USER_UID},SYSDATE(),#{SOURCE_UNIQUE_SEQ},#{CONTENT})
        ;
    </insert>
    <delete id="delete" 
        parameterType="Map">
            DELETE FROM COMMENT
            WHERE SOURCE_UNIQUE_SEQ=#{SOURCE_UNIQUE_SEQ};
    </delete>
    <delete id="deleteOne" 
        parameterType="Map">
            DELETE FROM COMMENT
            WHERE COMMENT_UID=#{COMMENT_UID};
    </delete>

</mapper>