<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coordination">
    <!-- call CommonCode.selectCommon_Code_idNameOrder_Number -->
    <!-- coordination.select -->
    <select id="select" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COORDINATION_INFO
        WHERE COORDINATION_ID = #{COORDINATION_ID}
        ;
    </select>

        <!-- coordination.selectTotal -->
    <select id="selectTotal" 
        parameterType="Map" resultType="int">
            SELECT COUNT(*) AS CNT
            FROM COORDINATION_INFO
            ;
    </select>
    
    <!-- 코디게시판 파일 조인 -->
    <select id="selectjoinfile" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COORDINATION_INFO A JOIN CIP_ATTACHFILE B
        WHERE A.COORDINATION_ID = B.SOURCE_UNIQUE_SEQ 
        AND A.COORDINATION_ID=#{COORDINATION_ID};
    </select>
    <!-- 게시판 용 -->

    <select id="getlistnotjoin" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COORDINATION_INFO
        ;
    </select>
    <select id="getlistwithjoinfile" 
        parameterType="Map" resultType="Map">
        SELECT * 
            FROM COORDINATION_INFO  
            JOIN (SELECT * FROM CIP_ATTACHFILE
            WHERE FILE_ORDER IN (SELECT MIN(FILE_ORDER) FROM CIP_ATTACHFILE)
            GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
            ON COORDINATION_ID = SOURCE_UNIQUE_SEQ 
            <if test="pageScale != null">
            ORDER BY WRITE_DATE DESC
            LIMIT #{pageBegin}, #{pageScale} <!-- 첫번쨰 페이지 리스트 -->
            </if>
            ;
    </select>
    <select id="getlistwithjoinfileIndexPage" 
        parameterType="Map" resultType="Map">
        SELECT * 
            FROM COORDINATION_INFO  
            JOIN (SELECT * FROM CIP_ATTACHFILE
            WHERE FILE_ORDER IN (SELECT MIN(FILE_ORDER) FROM CIP_ATTACHFILE)
            GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
            ON COORDINATION_ID = SOURCE_UNIQUE_SEQ 
            ORDER BY WRITE_DATE DESC
            LIMIT 4
            ;
    </select>
    <update id="update" 
        parameterType="Map">
        UPDATE COORDINATION_INFO
        SET TITLE=#{TITLE},
            USERNAME=#{USERNAME},
            HEIGHT=#{HEIGHT},
            WEIGHT=#{WEIGHT},
            CORD_CONTENT=#{CORD_CONTENT},
            MODIFICATION_DATE = SYSDATE(),
            JOB=#{JOB}
        WHERE COORDINATION_ID=#{COORDINATION_ID}
;
    </update>

    <update id="upviews" 
        parameterType="Map">
            UPDATE COORDINATION_INFO
            SET VIEWS=VIEWS+1
            WHERE COORDINATION_ID=#{COORDINATION_ID}
            ;
    </update>


    <insert id="insert" 
        parameterType="Map">
        INSERT INTO COORDINATION_INFO
        (COORDINATION_ID, UID, PRODUCT_ID, TITLE, BULLETIN_NO, USERNAME, HEIGHT, WEIGHT, CORD_CONTENT, VIEWS, WRITE_DATE, MODIFICATION_DATE, LIKES, JOB)
        VALUES
        (#{COORDINATION_ID},#{UID},#{PRODUCT_ID}, #{TITLE}, #{BULLETIN_NO}, #{USERNAME}, 
        #{HEIGHT}, #{WEIGHT},#{CORD_CONTENT}, #{VIEWS}, SYSDATE(), SYSDATE(), #{LIKES}, #{JOB})
        ;
    </insert>
    <delete id="delete" 
        parameterType="Map">
        DELETE FROM COORDINATION_INFO
        WHERE COORDINATION_ID=#{COORDINATION_ID}
        ;
    </delete>
</mapper>