<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coordination">
    <!-- call CommonCode.selectCommon_Code_idNameOrder_Number -->
    <!-- coordination.select -->
    <select id="select" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM coordination_info
        WHERE COORDINATION_ID = #{COORDINATION_ID}
        ;
    </select>
    <select id="getlistnotjoin" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM coordination_info
        ;
    </select>
     <select id="getlistwithjoin" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM COORDINATION_INFO A JOIN CIP_ATTACHFILE B
        WHERE A.COORDINATION_ID = B.SOURCE_UNIQUE_SEQ;
    </select>
    <update id="update" 
        parameterType="Map">
        UPDATE coordination_info
        SET USERNAME='홍길동'
        WHERE COORDINATION_ID=${COORDINATION_ID}
        ;
    </update>
    <insert id="insert" 
        parameterType="Map">
        INSERT INTO COORDINATION_INFO
        (COORDINATION_ID, UID, PRODUCT_ID, TITLE, BULLETIN_NO, USERNAME, HEIGHT, WEIGHT, CORD_CONTENT, VIEWS, WRITE_DATE, MODIFICATION_DATE, LIKES, JOB)
        VALUES
        (#{COORDINATION_ID},#{UID},#{PRODUCT_ID}, #{TITLE}, #{BULLETIN_NO}, #{USERNAME}, 
        #{HEIGHT}, #{WEIGHT},#{CORD_CONTENT}, #{VIEWS}, SYSDATE(), SYSDATE(), #{LIKES}, #{JOB})
        ;
    </insert>
    <delete id="delete" 
        parameterType="Map">
        DELETE FROM coordination_info
        WHERE COORDINATION_ID=#{COORDINATION_ID}
        ;
    </delete>
</mapper>