<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="delivery">
    <!-- orderList.select -->
    <select id="selectjoinshoppingcartproduct" parameterType="Map" resultType="Map">

    </select>
    <!-- orderList.selectfileshoppingcartwithUID -->
    <select id="selectfileshoppingcartwithUID" parameterType="Map" resultType="Map">

    </select>


    <!-- shop.insertProduct -->
    <insert id="insertDelivery" parameterType="Map">
        INSERT INTO DELIVERY
        (DELIVERY_ID, DELIVERY_COMPANY, SHIPMENT_TIME, DELIVERY_STATUS, DELIVERY_ADDRESS, USERNAME, PHONENUMBER, REQUIREMENT)
        VALUES
        (#{DELIVERY_ID}, #{DELIVERY_COMPANY}, #{SHIPMENT_TIME}, #{DELIVERY_STATUS}, #{DELIVERY_ADDRESS}, #{USERNAME},#{PHONENUMBER},#{REQUIREMENT});
    </insert>

    <!-- shop.updateProduct -->
    <update id="updateProduct" parameterType="Map">

    </update>
    <!-- orderList.delete -->
    <delete id="delete" parameterType="Map">
        DELETE FROM ORDERLIST
        WHERE SHOPPINGCART_ID=#{SHOPPINGCART_ID}
        ;
    </delete>
</mapper>