<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="files">
    <!-- call CommonCode.selectCommon_Code_idNameOrder_Number -->
    <!-- coordination.select -->
    <select id="select" 
        parameterType="Map" resultType="Map">
        SELECT * 
        FROM CIP_ATTACHFILE
        WHERE SOURCE_UNIQUE_SEQ = #{SOURCE_UNIQUE_SEQ}
        ORDER BY FILE_ORDER
        ;
    </select>
    <select id="selectone" 
        parameterType="Map" resultType="Map">
        SELECT * FROM CIP_ATTACHFILE
        WHERE SOURCE_UNIQUE_SEQ = #{SOURCE_UNIQUE_SEQ}
        GROUP BY SOURCE_UNIQUE_SEQ
        ;
    </select>    


    <update id="update" 
        parameterType="Map">
        UPDATE CIP_ATTACHFILE
        SET ORGINALFILE_NAME=#{ORGINALFILE_NAME}, MODIFIER_SEQ = SYSDATE()
        WHERE ATTACHFILE_SEQ=#{ATTACHFILE_SEQ}
        ;
    </update>
    <insert id="insert" 
        parameterType="Map">
        INSERT INTO CIP_ATTACHFILE
        (ATTACHFILE_SEQ, SOURCE_UNIQUE_SEQ, ORGINALFILE_NAME, PHYSICALFILE_NAME, 
        REGISTER_SEQ, REGISTRY_DATE, MODIFIER_SEQ, MODIFY_DATE, FILE_ORDER)
        VALUES
        <foreach collection="attachFiles" item="attachFile"
            open="(" close=")" separator="),(">
	    #{attachFile.ATTACHFILE_SEQ}, #{attachFile.SOURCE_UNIQUE_SEQ}, #{attachFile.ORGINALFILE_NAME},#{attachFile.PHYSICALFILE_NAME},
        #{attachFile.REGISTER_SEQ},SYSDATE(),#{attachFile.MODIFIER_SEQ},SYSDATE(),#{attachFile.FILE_ORDER}
        </foreach>       
        ;
    </insert>
    <delete id="delete" 
        parameterType="Map">
        DELETE FROM CIP_ATTACHFILE
        WHERE SOURCE_UNIQUE_SEQ=#{SOURCE_UNIQUE_SEQ}
        ;
    </delete>
</mapper>