<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="List">

    <!-- <select id="user" 
        parameterType="Map" resultType="_String">
        SELECT * FROM USER A INNER JOIN FAQ B
        WHERE A.UID = B.UID
        ORDER BY POST_NO_FAQ DESC;
    </select> -->

    <!-- QNA -->

    <!-- List.selectQNAwithjoin -->
    <select id="selectQNAwithjoin" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN QNA B
        WHERE A.UID = B.UID
        <!-- <choose>
            <when test="">
                
            </when>
            <when test="">
                
            </when>
            <when test="">
                
            </when>
            <when test="">
                
            </when>
            <otherwise>
            </otherwise>
        </choose> -->
        ORDER BY POST_NO_QNA DESC;
    </select>

    <!-- List.selectQNACategory -->
    <select id="selectQNACategory" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN QNA B
        WHERE A.UID = B.UID AND CATEGORY = #{CATEGORY}
        ORDER BY POST_NO_QNA DESC
    </select>

    <!-- List.selectQNAUID -->
    <select id="selectQNAUID" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN QNA B
        WHERE A.UID = B.UID AND POST_NO_QNA = #{UID}
    </select>

    <!-- List.updateQNA -->
    <!-- DATE가 2023-01-01 형식으로 저장 -->
    <update id="updateQNA" 
        parameterType="Map">
        UPDATE QNA
        SET TITLE=#{TITLE},DATE=DATE_FORMAT(now(),'%Y-%m-%d')
        ;
    </update>

    <!-- List.deleteQNA -->
    <select id="deleteQNA" 
        parameterType="Map" resultType="Map">
        DELETE FROM QNA
        WHERE POST_NO_QNA=#{POST_NO}
        ;
    </select>

    <!-- List.insertQNA -->
    <insert id="insertQNA" parameterType="Map">
        INSERT INTO QNA
        (POST_NO_QNA, UID, CATEGORY, TITLE, DATE, CONTENT, COMMENT_UID)
        VALUE
        (1, 'U0002', 'DELIVERY', '배송 문의','2023-02-21', '배송은 얼마나 걸리나요', '1')
    </insert>


    <!-- FAQ -->

    <!-- List.selectFAQwithjoin -->
    <select id="selectFAQwithjoin" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN FAQ B
        WHERE A.UID = B.UID
        ORDER BY POST_NO_FAQ DESC;
    </select>

    <!-- List.selectFAQCategory -->
    <select id="selectFAQCategory" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN FAQ B
        WHERE A.UID = B.UID AND CATEGORY = #{CATEGORY}
        ORDER BY POST_NO_FAQ DESC
    </select>

    <!-- List.updateFAQ -->
    <!-- DATE가 2023-01-01 형식으로 저장 -->
    <update id="updateFAQ" 
        parameterType="Map">
        UPDATE FAQ
        SET TITLE=#{TITLE},DATE=DATE_FORMAT(now(),'%Y-%m-%d')
        ;
    </update>

    <!-- List.deleteFAQ -->
    <select id="deleteFAQ" 
        parameterType="Map" resultType="Map">
        DELETE FROM FAQ
        WHERE POST_NO_FAQ=#{POST_NO}
        ;
    </select>



    <!-- Announcement -->

    <!-- List.selectAnnouncementwithjoin -->
    <select id="selectAnnouncementwithjoin" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN ANNOUNCEMENT B
        WHERE A.UID = B.UID;
    </select>

    <!-- List.selectFAQCategory -->
    <select id="selectAnnouncementCategory" 
        parameterType="Map" resultType="Map">
        SELECT * FROM USER A INNER JOIN ANNOUNCEMENT B
        WHERE A.UID = B.UID AND CATEGORY = #{CATEGORY}
        ORDER BY POST_NO_ANNO DESC
    </select>

    <!-- admin.updateAnnouncement -->
    <!-- DATE가 2023-01-01 형식으로 저장 -->
    <update id="updateAnnouncement" 
        parameterType="Map">
        UPDATE ANNOUNCEMENT
        SET TITLE=#{TITLE},DATE=DATE_FORMAT(now(),'%Y-%m-%d')
        ;
    </update>

    <!-- admin.deleteAnnouncement -->
    <select id="deleteAnnouncement" 
        parameterType="Map" resultType="Map">
        DELETE FROM ANNOUNCEMENT
        WHERE POST_NO_ANNO=#{POST_NO}
        ;
    </select>
</mapper>