<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">
    <!-- login.selectOne -->
    <select id="selectOne" parameterType="Map" resultType="Map">
        SELECT PW FROM USER
        WHERE ID = #{id};
    </select>
    
    <!-- login.insertUser -->
    <insert id="insertUser" parameterType="Map">
        
    </insert>
    <!-- login.updateUser -->
    <update id="updateUser" parameterType="Map">
        
    </update>
    <!-- login.deleteUser -->
    <delete id="deleteUser" parameterType="Map">
        
    </delete>
</mapper>