<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderList">
    <!-- orderList.select -->
    <select id="selectjoinshoppingcartproduct" parameterType="Map" resultType="Map">
        SELECT * 
        FROM (SELECT  A.SHOPPINGCART_ID, A.PRODUCT_COUNT, A.UID, A.DATE, B.*
        FROM SHOPPINGCART A, PRODUCT B
        WHERE A.PRODUCT_ID = B.PRODUCT_ID
        AND A.UID=#{UID}) C, CIP_ATTACHFILE D
        WHERE C.PRODUCT_ID = D.SOURCE_UNIQUE_SEQ
        GROUP BY PRODUCT_ID
        ORDER BY DATE
        ;
    </select>
    <!-- orderList.selectfileshoppingcartwithUID -->
    <select id="selectfileshoppingcartwithUID" parameterType="Map" resultType="Map">

    </select>


    <!-- orderList.insertOrderList -->
    <insert id="insertOrderList" parameterType="Map">
        INSERT INTO ORDERLIST
        (ORDER_ID,PRODUCT_ID,UID,DELIVERY_ID,ORDER_METHOD,FINAL_PRICE,ORDERDATE,ADDITIONAL_DISCOUNT)
        VALUES
        (#{},#{},#{},'DEL_1','카드','54,000',SYSDATE(),'25');
    </insert>
    <!-- orderList.updateProduct -->
    <update id="updateProduct" parameterType="Map">

    </update>
    <!-- orderList.delete -->
    <delete id="delete" parameterType="Map">
        DELETE FROM ORDERLIST
        WHERE SHOPPINGCART_ID=#{SHOPPINGCART_ID}
        ;
    </delete>
</mapper>