<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">
    
    <select id="product" 
        parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		        GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ
		WHERE CLOTHES_NAME LIKE #{SEARCH_TEXT};
    </select>

    <select id="coordination" 
        parameterType="Map" resultType="Map">
            SELECT * 
            FROM COORDINATION_INFO  
            JOIN (SELECT * FROM CIP_ATTACHFILE
            WHERE FILE_ORDER IN (SELECT MIN(FILE_ORDER) FROM CIP_ATTACHFILE)
            GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
            ON COORDINATION_ID = SOURCE_UNIQUE_SEQ 
            WHERE TITLE LIKE #{SEARCH_TEXT}
            ORDER BY WRITE_DATE DESC
            ;
    </select>

    <select id="faq" 
        parameterType="Map" resultType="Map">
            SELECT * FROM FAQ
            WHERE TITLE LIKE #{SEARCH_TEXT};
    </select>

    <select id="qna" 
        parameterType="Map" resultType="Map">
            SELECT * FROM QNA
            WHERE TITLE LIKE #{SEARCH_TEXT};
    </select>

    <select id="anno" 
        parameterType="Map" resultType="Map">
            SELECT * FROM ANNOUNCEMENT
            WHERE TITLE LIKE #{SEARCH_TEXT};
    </select>

    <select id="selectreviewfile" 
        parameterType="Map" resultType="Map">
        SELECT * FROM REVIEW A JOIN CIP_ATTACHFILE B
        WHERE A.REVIEW_ID = B.SOURCE_UNIQUE_SEQ AND PRODUCT_ID = #{PRODUCT_ID}
    </select>

</mapper>