<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop">
    <!-- shop.selectAll -->
    <select id="selectAll" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		        GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ;
    </select>
    <!-- shop.selectWomen -->
    <select id="selectCategory" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		        GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ
        <if test="category == 'women'">
            WHERE CATEGORY LIKE "여자%"
        </if>
        ;
    </select>
    <!-- shop.selectBestsellingProductList -->
    <select id="selectBestsellingProductList" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ
        ORDER BY SALES_VOLUME DESC
        LIMIT 12;
    </select>
    <!-- shop.selectBestsellingProductListWomen -->
    <select id="selectBestsellingProductListWomen" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ
        WHERE CATEGORY LIKE "여자%"
        ORDER BY SALES_VOLUME DESC
        LIMIT 12;
    </select>
    <select id="selectBestsellingProductList18" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        JOIN (SELECT * FROM CIP_ATTACHFILE
		GROUP BY SOURCE_UNIQUE_SEQ) AS CIP
        ON PRODUCT_ID = SOURCE_UNIQUE_SEQ
        ORDER BY SALES_VOLUME DESC
        LIMIT 18;
    </select>
    <!-- shop.insertProduct -->
    <insert id="insertProduct" parameterType="Map">
        INSERT INTO PRODUCT
        (PRODUCT_ID, PICTURE, BRAND, CLOTHES_NAME, PRICE, IS_BESTSELLING_PRODUCT)
        VALUES(#{PRODUCT_ID},#{PICTURE},#{BRAND},#{CLOTHES_NAME},#{PRICE},#{IS_BESTSELLING_PRODUCT});
    </insert>
    <!-- shop.updateProduct -->
    <update id="updateProduct" parameterType="Map">
        UPDATE PRODUCT
        SET PRICE = #{PRICE}
        WHERE PRODUCT_ID=#{PRODUCT_ID};
    </update>
    <!-- shop.deleteProduct -->
    <delete id="deleteProduct" parameterType="Map">
        DELETE FROM PRODUCT
        WHERE PRODUCT_ID=#{PRODUCT_ID};
    </delete>

    <!-- 주문시 이용 -->
    <select id="selectVolume" parameterType="Map" resultType="Map">
        SELECT SALES_VOLUME FROM PRODUCT
        WHERE PRODUCT_ID =#{PRODUCT_ID};
    </select>

    <update id="updateProductVolume" parameterType="Map">
        UPDATE PRODUCT
        SET SALES_VOLUME = #{SALES_VOLUME}
        WHERE PRODUCT_ID = #{PRODUCT_ID};
    </update>
</mapper>