<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop">
    <!-- shop.selectAll -->
    <select id="selectAll" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT;
    </select>
    <!-- shop.selectBestsellingProductList -->
    <select id="selectBestsellingProductList" parameterType="Map" resultType="Map">
        SELECT * FROM PRODUCT
        WHERE IS_BESTSELLING_PRODUCT = 'TRUE';
    </select>
    <!-- shop.insertProduct -->
    <insert id="insertProduct" parameterType="Map">
        INSERT INTO PRODUCT
        (PRODUCT_ID, PICTURE, BRAND, CLOTHES_NAME, PRICE, IS_BESTSELLING_PRODUCT)
        VALUES(#{PRODUCT_ID},#{PICTURE},#{BRAND},#{CLOTHES_NAME},#{PRICE},#{IS_BESTSELLING_PRODUCT});
    </insert>
    <!-- shop.updateProduct -->
    <update id="updateProduct" parameterType="Map">
        UPDATE PRODUCT
        SET PRICE = #{PRICE}
        WHERE PRODUCT_ID=#{PRODUCT_ID};
    </update>
    <!-- shop.deleteProduct -->
    <delete id="deleteProduct" parameterType="Map">
        DELETE FROM PRODUCT
        WHERE PRODUCT_ID=#{PRODUCT_ID};
    </delete>
</mapper>